<li class="a-burger">
    <span class="burger-name">{{burger_name}}</span>

    <button class="change-devour" data-id="{{id}}" data-devouredvariable="{{devouredVariable}}">
        {{#if devour}}DEVOUR BURGER!{{else}}Eat this burger again!{{/if}}
    </button>
</li>