<li class="a-burger">
    <span class="burger-name">{{name}}</span>

    <button class="change-devoured" data-id="{{id}}" data-devouredVariable="{{devouredVariable}}">
        {{#if devour}}DEVOUR BURGER!{{else}}Eat this burger again!{{/if}}
    </button>
</li>